section.mailjet-newsletter-subscription-response {
  margin-top: 3rem;
}

h1.mailjet-newsletter-subscription-response__header {
  text-align: center;
}

.mailjet-newsletter-subscription-response__message {
  text-align: center;
}
