.webform-composite-hidden-title.webform-type-mail-list-checkbox {
  margin-top: unset;
  margin-bottom: unset;
  margin-block: var(--space-l);
}

.webform-composite-hidden-title.webform-type-mail-list-checkbox .form-item {
  margin: 0;
}
