<section class="mailjet-newsletter-subscription-response">
  <h1 class="mailjet-newsletter-subscription-response__header">{{ "Newsletter subscription"|t }}</h1>
  <div>
    <p  class="mailjet-newsletter-subscription-response__message" >{{ message }}</p>
  </div>
</section>

